div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #4056A1;
  }

  div.gallery a {
      text-decoration: none;
      color: #333;
  }
  
  div.gallery img {
    width: 100%;
    /* height: auto; */
    cursor: pointer;
  }
  
  div.description {
    padding: 14px;
    text-align: center;
  }

  div.description p {
    margin: 0px auto 10px;
    font-weight: bold;
  }

  div.description span {
      font-size: 14px;
      font-style: italic;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  } */
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }